<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khawoat_rmbp.well">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFIak_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- add these permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".SignUp"/>

        <activity android:name=".LoginUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ForgotPass" />
        <activity android:name=".LoginMasseuse"/>



        <activity android:name=".Fragment_User.MainFragment" />

        <activity android:name=".Fragment_Masseuse.MainFragmentMasseuse" />
        <activity android:name=".SignUpMasseuse"/>


        <activity android:name=".Massage_Service.Herbal_Massage" />
        <activity android:name=".Massage_Service.Acupunc_Massage" />
        <activity android:name=".Massage_Service.Oil_Massage" />
        <activity android:name=".Massage_Service.Foot_Massage" />
        <activity android:name=".Massage_Service.Migraine_Massage" />
        <activity android:name=".Massage_Service.Sport_Massage" />
        <activity android:name=".Reservation.reservation" />
        <activity android:name=".Reservation.Reservation_location" />
        <activity android:name=".Reservation.Reservation_schedule" />
        <activity android:name=".Reservation.Reservation_ChooseMass" />

        <activity android:name=".Reservation.Reservation_Result" />
        <activity android:name=".Upload_Photo.Photo_citizenpic_mass"/>
        <activity android:name=".Mass_Choose_Work"/>
        <activity android:name=".Mass_Choos_Work__Area"/>
        <activity android:name=".Upload_Photo.Photo_MassageCertificate_Mass"/>
        <activity android:name=".Upload_Photo.Photo_ClearanceCertificate"/>
        <activity android:name=".Upload_Photo.Photo_User_Citizen"/>
        <activity android:name=".Upload_Photo.Photo_Profile_Mass"/>

        <activity android:name=".TestNotificatiion"/>



        <activity android:name=".Upload_photo"/>
        <service android:name=".FirebaseMassagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_place_api" />

        <activity android:name=".Update_profile_User"></activity>
        <activity android:name=".Update_profle_user2"></activity>
    </application>

</manifest>